<div class="card">
    <div class="card-header">
        <h3>ESCUELA</h3>
    </div>
    <div class="card-body">
        <div class="card" style="width: 18rem;">
            <img src="https://png.pngtree.com/png-vector/20190803/ourlarge/pngtree-teacher-education-presentation-school--flat-color-icon--vecto-png-image_1648907.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <button class="btn btn-primary" 
                    type="button"
                    [routerLink] = "['/maestros']">
                    Maestros
                </button>
            </div>
        </div>
    </div>
</div>